Package: sh.tat.youtubenocapture
Name: YouTube No Capture
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Removes 'Capture' button from the YouTube app left side bar.
Maintainer: Tatsh
Author: Tatsh
Section: Tweaks
